body {
  font-size: 12px;
}

h2 {
  color: #ff5500;
  font-size: 1.5em;
  font-family: "monaco", monospace;
}

#rabbits-info-heading {
  background-color: Cyan;
}

p {
  color: blue;
  font-family: "Exo 2", sans-serif;
}

#rabbits-info {
  color: green;
  font-weight: bold;
  text-decoration: underline;
}

.song-lyrics {
  background-color: black;
  font-family: serif;
  font-size: 16px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

h1 {
  color: grey;
  font-family: verdana;
}

h3 {
  color: turquoise;
  background: green;
  font-family: impact;
}

ul,
ol {
  font-family: "Slabo 27px", serif;
}
